name: Auto Select Stock

on:
  schedule:
    - cron: "0 18 * * *"  # 每天18点盘后运行
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Auto Select Stock
        run: |
          python auto_select_stock.py

      - name: Upload Selected Stocks CSV
        uses: actions/upload-artifact@v4
        with:
          name: selected_stocks
          path: output/selected_stocks.csv

      - name: Upload Stock Count Plot
        uses: actions/upload-artifact@v4
        with:
          name: selected_stock_count
          path: output/selected_stock_count.png

      - name: Upload Stock Count History
        uses: actions/upload-artifact@v4
        with:
          name: stock_count_history
          path: output/stock_count_history.csv
