name: Auto Select Stock

on:
  schedule:
    - cron: "0 16 * * 1-5"
  workflow_dispatch:

jobs:
  run_auto_select:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas matplotlib requests

      - name: Run Auto Select Stock
        run: python auto_select_stock.py

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: select_result
          path: daily_selected_count.png
