name: Auto Select Stock

on:
  schedule:
    - cron: "0 6 * * *"  # 每天早 6 点自动跑
  workflow_dispatch:     # 手动运行
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Script
        run: |
          python auto_select_stock.py

      - name: Upload Result
        uses: actions/upload-artifact@v3
        with:
          name: selected_stocks
          path: selected_stocks.csv
